<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padua Realty </title>
    <link rel="stylesheet" href="/public/landingpage.css">
</head>
<body>
    
    <nav class="navbar">
        <ul>
            <li><a href=""> Home</a></li>
            <li><a href=""> About</a></li>
            <li><a href=""> Services</a></li>
            <li><a href=""> Contact</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img src="../img/Padua Relty.png" alt="Padua Realty Logo">
    </div>
    
    <main>
        <aside>
            <h3>OUR FOUNDERs   
            </h3>
            <p>On August 1, 2022, Padua Realty was founded by Reyma G. Padua, a Certified Housewife with  three beautiful kids  and who is also  a Certified Public Accountant (CPA) by profession. Mrs Padua,  understood the importance and  need for every Filipinos to have a place to be called a home and this realization  led her to aspire to  contribute towards  this  basic need  for shelter at a reasonable cost and terms.

            </p>
        </aside>
        
        <section>
            <div class="mom">
                <img src="../img/ReymaPadua.jpg"alt="Reyma Padua"> 
            </div>
        </section>


 
        

    </main>

</body>
</html>
