<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padua Realty </title>
    <link rel="stylesheet" href="/public/landingpage.css">
</head>
<body>
    
    <nav class="navbar">
        <ul>
            <li><a href=""> Home</a></li>
            <li><a href=""> About</a></li>
            <li><a href=""> Services</a></li>
            <li><a href=""> Contact</a></li>
        </ul>
    </nav>

    <h1>Padua Realty</h1>
    <div class="logo">
        <img src="file:///C:/Users/alexa/Downloads/Padua%20Relty.png" alt="Padua Realty Logo">
    </div>
    
    <main>
        <h3>Home Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam praesentium corrupti alias error voluptatibus aperiam nobis amet aliquid perferendis, nesciunt laborum distinctio vitae, laboriosam commodi corporis autem, minima ipsa provident?</p>
    </main>
</body>
</html>
