@import '~bootstrap';
*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding:0;
    background-image: url('../img/House-Cover-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
main{
    display:flex;
   /* justify-content: center;
    align-items: center;*/
    margin: 20px;
    padding: 10px;
    background-color: #E7E9E7;

}
/* gallery section*/
User
.gallery {
    display: inline-block;
    border: 10px solid #E7E9E7 ; 
    margin: 5px;

}
.gallery.description {
    padding: 10px;
    text-align: center; 
}
.gallery:hover {
    border: 1px solid #552222; 
}

.logo {
    text-indent: -99999999;
    text-align: center;
    margin-top: 20px; 
}
.logo img {
    width: 200px; 
    height: auto;
}


h1{
    text-align: center;
}


.navbar ul{

    list-style-type: none;
    background-color:#A2403F;
    opacity: 0.9;
    padding:0;
    margin:0;
    overflow: hidden;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-align: center;
}
.navbar a:hover{
    background-color: #862e2d;
}
.navbar li{
    float: left;
}

