@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Arial, sans-serif;
    background-color: #F4F5F5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #666;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration:none;
}
/* Navigation styles */
nav {
    padding:1em;
    font-size: 24px;
    background-color:#796465;
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: block;
    justify-content:space-between;
}

nav > a {
    color: black;
    display: flex;
    text-align: right;
}

.welcome-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:  75px;
}

.welcome-text{
    font-size: 65px;
    font-weight: bolder;
}

.lang-button, .home-button{
    border-radius: 35px;
    background-color: #702e31;
    padding: 10px;
    border: 2px solid black;
    display: inline-block;
    flex-direction: column;
}

.lang-text, .home-text{
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

#buttons:hover{
    background-color: #d7b29d;
    cursor: pointer;
}

#buttons:hover #button-text{
    color:black;
}