<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=G-SG3C30KKB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SG3C30KKB7');
    </script>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Padua Realty</title>
    <meta content name="description" />
    <meta content name="keywords" />

    <!-- Favicons -->
    <link href="/img/padua-realty-logo-2.png" rel="icon" />
    <link href="/img/padua-realty-logo-2.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link
      href="/vendor/animate.css/animate.min.css"
      rel="stylesheet" />
    <link
      href="/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet" />
    <link
      href="/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet" />
    <link
      href="/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/aboutus.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: EstateAgency
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <div class="container-fluid px-0">
    <div class="row gx-0 color-block-top"></div>
    <div class="row gx-0">
      <div class="col">
        <img
          src="/img/House-Cover-1.jpg"
          alt="Property Cover Image "
          class="cover w-100 h-10" />
        <div class="title-box">
          <h2 class="title-a cover-title">About</h2>
        </div>
        <div class="cover-breadcrumb">
          <a href="/">Home</a> / <span>About</span>
        </div>
      </div>
    </div>
    <div class="row gx-0 color-block-top"></div>
  </div>
  <div class="row gx-0  color-block-top"></div>
</div>

<body>

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand text-brand" href="/"><img
          src="/img/padua-realty-logo.png"
          style="width: 100px; height: 100px;"></a>

      <div class="justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/properties">Properties</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/agents">Agents</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/about-us">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/services">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/contact">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </nav><!-- End Header/Navbar -->

  <!-- ======= Intro Section ======= -->

  <main id="main">
    <section>
      <!-- ======= About Us Body Section (Uses news-section template) ======= -->
      <section class="section-news section-t8 news-bg">
        <div class="container body-content">
          <div class="text-container">
            <h2 class="title-a body-header">Your Gateway to Dream Homes</h2>
            <div class="square-overlap">
              <h2 class="title-a body-subheader">
                The Start of something new
              </h2>
              <p class="content-d body-text-wrapped">
                Welcome to Padua Realty, an independent real estate platform
                founded by Reyma Padua. We’re here to assist you in finding the
                perfect home. Our team of professional agents, passionate about
                real estate, will help you navigate the market complexities. At
                Padua Realty, we believe in building lasting relationships with
                our clients through transparency, integrity, and exceptional
                service. You’re not just a client; you’re part of our family.
                Whether you’re a first-time homebuyer, a seasoned investor, or
                looking to sell your property, we’re here to help you achieve
                your real estate goals. Explore our website, browse listings,
                and connect with our agents to start your journey today. Thank
                you for considering Padua Realty. We look forward to helping you
                make your real estate dreams a reality. 
              </p>
              <p class="content-d body-text-unwrapped">
                At Padua Realty, we’re
                not just selling homes, we’re selling dreams. Let us help you
                find yours. We’re committed to your satisfaction.
              </p>
            </div>
          </div>
          <img
            src="/img/ReymaPadua.jpg"
            alt="Property Cover Image "
            class="body-image" />
        </div>
      </section>
    </section>
    <!-- End Latest News Section -->

    <!-- ======= Stats Section ======= -->

    <section class="section-agents section-stats agent-bg">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-12 col-xl-3 mb-3">
          <div class="card border-0 custom-card">
            <div class="d-flex align-items-center">
              <i class="bi bi-emoji-smile custom-icon"></i>
              <div class="card-body text-left">
                <div class="card-title">
                  <h2 class="card-title">{{newUsers}}</h2>
                  <p class="lead card-subtitle">New Users</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-3 mb-3">
          <div class="card border-0 custom-card">
            <div class="d-flex align-items-center">
              <i class="bi bi-house-door custom-icon"></i>
              <div class="card-body text-left">
                <div class="card-title">
                  <h2 class="card-title">{{propertiescount}}</h2>
                  <p class="lead card-subtitle">Properties</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-3 mb-3">
          <div class="card border-0 custom-card">
            <div class="d-flex align-items-center">
              <i class="bi bi-people custom-icon"></i>
              <div class="card-body text-left">
                <div class="card-title">
                  <h2 class="card-title">{{agentscount}}</h2>
                  <p class="lead card-subtitle">Agents</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <section class="section-footer">
    <div class="container">
      <div class="row"></div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">PaduaRealty</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
            Designed by <a href>2324STSSWENGS14</a>
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
            Admin Login <a href="/admin/login">Here</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
  </body>
</html>
